<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>eng</contextName>

    <appender name="json-console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <contextName>
                    <fieldName>app</fieldName>
                </contextName>
                <timestamp>
                    <fieldName>ts</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <callerData>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <lineFieldName>line</lineFieldName>
                    <fileFieldName>file</fileFieldName>
                </callerData>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc/>
                <arguments>
                    <includeNonStructuredArguments>false</includeNonStructuredArguments>
                </arguments>
                <stackTrace>
                    <fieldName>stack</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                    </throwableConverter>
                </stackTrace>
                <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                    <pattern>{"msg":"%.-16384msg"}</pattern>
                </provider>
            </providers>
        </encoder>
    </appender>

    <appender name="plain-console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n
            </Pattern>
        </layout>
    </appender>

    <springProfile name="default | test | ci_test | k8s">
        <root level="info">
            <level value="info"/>
            <appender-ref ref="plain-console"/>
        </root>
    </springProfile>

    <springProfile name="!default &amp; !test &amp; !ci_test">
        <root level="info">
            <level value="info"/>
            <appender-ref ref="json-console"/>
        </root>
    </springProfile>

</configuration>
